# .gitignore  # V0.1
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec
build/
dist/
log.log
*.bat

# Virtual env
.venv/
venv/

# Lokale Konfig
config.json

# Externe/Binaries (groß, nicht versionieren)
unp4k-suite-v3.13.21/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
